/* BASIC */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background: #111;
    color: white;
    text-align: center;
}

/* SPLASH SCREEN */
#splash-screen {
    position: fixed;
    inset: 0;
    background: #000;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    z-index: 999;
}

.splash-img {
    width: 180px;
    animation: zoom 1.4s ease-in-out infinite alternate;
}

@keyframes zoom {
    from { transform: scale(1); opacity: .8; }
    to { transform: scale(1.1); opacity: 1; }
}

.hidden { display: none; }

/* MAIN APP */
.fade-in {
    animation: fadeIn 1.3s ease forwards;
}

@keyframes fadeIn {
    from { opacity: 0; transform: translateY(20px); }
    to   { opacity: 1; transform: translateY(0); }
}

.logo {
    width: 120px;
    margin-top: 25px;
}

.title {
    margin-top: 10px;
    font-size: 26px;
}

textarea {
    width: 85%;
    height: 130px;
    margin-top: 20px;
    padding: 10px;
    border-radius: 12px;
    background: #222;
    color: white;
    border: 1px solid #333;
    font-size: 16px;
}

button {
    margin-top: 20px;
    padding: 12px 22px;
    background: #7a5cff;
    border: none;
    color: white;
    border-radius: 10px;
    font-size: 16px;
    cursor: pointer;
    transition: 0.2s;
}

button:hover {
    background: #6345ff;
}

#output {
    margin-top: 25px;
    padding: 20px;
    width: 85%;
    margin-left: auto;
    margin-right: auto;
    background: #1c1c1c;
    border-radius: 10px;
    border: 1px solid #333;
}
